<footer class="footer">
  <a href="https://github.com/{{ site.github }}"><i class="fab fa-github" aria-hidden="true"></i></a>
  <a href="https://weibo.com/{{ site.weibo }}"><i class="fab fa-weibo" aria-hidden="true"></i></a>
  <a href="https://zhihu.com/people/{{ site.zhihu }}"><i class="fab fa-zhihu" aria-hidden="true"></i></a>
  <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
  <a href="mailto:{{ site.mail }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</footer>