<head>
  <title>{{ page.title }}</title>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css" />

  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    });
  </script>  
</head>