<head>
  <!-- 网页标题 -->
  <title>{{ page.title }}</title>
  
  <!-- 网页编码 -->
  <meta charset="utf-8" />
  
  <!-- 网页窗口适配 -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- 网站图标 -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  
  <!-- 网站样式 -->
  <link rel="stylesheet" href="{{ site.css }}/main.css" />

  <!-- 图标样式库 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13/css/all.min.css" />
  
  <!-- 数学公式渲染 -->
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    });
  </script>
  
  <!-- 背景图 -->
  <style type="text/css">
    {% if page.wallpaper %}
      body {
        background-image: url({{ site.cdn }}/{{ page.wallpaper }});
      }
    {% else %}
      body {
        background-image: url(https://api.dujin.org/bing/m.php);
      }
      @media (min-width: 720px) {
        body {
          background-image: url(https://api.dujin.org/bing/1920.php);
        }
      }
    {% endif %}
  </style>
</head>