<head>
  <!-- 网页标题 -->
  <title>{{ page.title }}</title>
  
  <!-- 网页编码 -->
  <meta charset="utf-8" />
  
  <!-- 网页窗口适配 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  
  {% feed_meta %}
  {% seo %}

  <!-- 网站图标 -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  
  <!-- 网站样式 -->
  <link rel="stylesheet" href="{{ site.css }}/main.css" />
  
  <!-- 图标样式库 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13/css/all.min.css" />
  
  <!-- 数学公式渲染 -->
  {% if page.mathjax %}
    {% include mathjax.html %}
  {% endif %}
  
  <!-- 流程图 -->
  {% if page.mermaid %}
  <script src="https://cdn.jsdelivr.net/npm/mermaid@8.5.0/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({startOnLoad:true});</script>
  {% endif %}  

  <!-- 评论 -->
  {% if site.gitalk.enable %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  {% endif %}
  
  <!-- 谷歌分析 -->
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
</head>
