<nav class="nav">
  {% if page.layout == "post" %}
    <a href="{{ site.baseurl }}/"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
    <a href="https://github.com/professordeng/simple/edit/gh-pages/{{ page.path }}"><i class="fa fa-edit" aria-hidden="true"></i>编辑</a>
  {% elsif page.title == "Home" %}
    <a href="https://github.com/professordeng/simple"><i class="fa fa-star" aria-hidden="true"></i>关注</a>
  {% endif %}
  <a href="https://github.com/professordeng/simple/new/gh-pages/_post"><i class="fa fa-pencil-alt" aria-hidden="true"></i>新建</a>
</nav>