<nav class="nav">
  <div class="nav-search">
    <input type="text" placeholder="输入关键词，回车搜索" id="search-input" />
  </div>
  
  <div class="nav-links">
    <a href="{{ site.baseurl }}/" {% if page.title == "首页"%} class="navactive" {% endif %} >首页</a>
    <a href="{{ site.baseurl }}/archives.html" {% if page.title == "归档"%} class="navactive" {% endif %} >归档</a>
    <a href="{{ site.baseurl }}/about.html" {% if page.title == "关于" %} class="navactive" {% endif %} >关于</a>
    <a href="https://github.com/professordeng/simple/edit/gh-pages/{{ page.path }}">编辑</a>
    <a href="https://github.com/professordeng/simple/new/gh-pages/_post">新建</a>
  </div>
</nav>