// border-box 表示 width 包括边框、内边距、内容

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// 设置根元素的字体、字号、行高
html {
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

// 设置整体的字色、背景色、背景图
body {
  color: var(--gray-700);
  background-color: var(--body-bg);
}

// 设置链接的格式
a {
  color: var(--link-color);
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
}

// 设置图片的格式
img {
  max-width: 100%;      // 最大宽度
  border-radius: var(--border-radius);
}

// 表格 
table {
  display: block;
  overflow-x: auto;
  width: 100%;
  
  border-collapse: collapse;      // 合并格子之间的线
  margin-bottom: 1rem;
}

// 表格头和表格项
th, td {    
  border: 1px solid #dfe2e5;
  padding: .25rem .5rem;
  text-align: center;
}

tr:hover {
  background-color: #dfe2e5;
}
