.fa-home,
.fa-search,
.fa-edit,
.fa-envelope,
.fa-weibo,
.fa-rss-square,
.fa-linkedin,
.fa-github,
.fa-arrow-up,
.fa-pencil-alt,
.fa-angle-left,
.fa-angle-right {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
  color: #f39c12;
}

.fa-weibo:hover {
  color: #E95B39;
}

.fa-rss-square:hover {
	color: #ff6600;
}

.fa-linkedin:hover {
  color: #338FCC;
}

.fa-github:hover {
  color: #343434;
}