// Layout
//
// Styles for managing the structural hierarchy of the site.

// 网站整体布局
.container {
  max-width: 38rem;
  min-height: calc(100vh - 8rem);  // 内容撑大，使底部固定
  margin: 0 auto;    // 居中
  padding: 0 1rem;   // 左右内边距设置
  background-color: var(--container-bg);
}

// 页面布局
.page {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-title {
  text-align: center;
}

// 归档

.archive-item {
  border-bottom: 1px dashed grey;
  
  & a:hover {
    text-decoration: none;
    color: #1A802E;
  }
}

.archive-date {
  float: left;
  width: 4rem;
  
  @media (min-width: 38rem) {
    float: right;
    width: auto;
  }
}

// 文章内容布局
.post {                  
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post-title {
  text-align: center;
}

.post-date {
  text-align: center;
  font-size: .75rem;
  color: #adb5bd;
}

// 导航栏布局
.nav {
  color: #999;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 4rem;      // 底部固定效果
  
  & a {
    color: #999;
    padding: .5rem;
    text-decoration: none;
    
    &:hover {
      color: #333;
      border-bottom: .2rem solid grey;
    }
  }
}

// 页脚布局
.footer {
  color: #999;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 4rem;      // 底部固定效果
  
  & a {
    color: #999;
    padding: .8rem;
    text-decoration: none;
    
    &:hover {
      color: #333;
    }
  }
}

// 回到顶部按钮设计
.top{
  cursor: pointer;    // 选中时显示手指
  padding: .5rem;
  bottom: 1rem;       // 和底部距离
  right: 1rem;        // 和右边框距离
  position: fixed;    // 回滚键固定
  z-index: 99;        // 在所有页面上方
  
  -webkit-tap-highlight-color: rgba(0,0,0,0); // 不显示蓝色框
  
  border-radius: 50%;
  background-color: #dfe2e5;
  
  @media (min-width: 60rem) {
    right: calc(50vw - 23rem);
  }
}

// 目录布局

#markdown-toc {
  font-size: 16px;
  display: none;
  list-style: none;
  position: fixed;
  padding-left: .5rem;
 
  top: 4rem;
  right: 0;
   
  width: calc(50vw - 19rem);      // 宽度是左侧所有空闲部分
  max-height: calc(100vh - 8rem); // 高度除去导航栏和页脚 
  @media (min-width: 60rem) {
    display: inline-block;
  }
  
  &::before {
    content: "目录";
    padding-left: .5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  & ol {
    padding-left: 0;
    margin-bottom: 0;
  } 
  
  & li {
    max-width: 5rem;
    white-space:nowrap;        /*不让文字内容换行*/
    overflow:hidden;           /*文字溢出的部分隐藏起来*/
    text-overflow:ellipsis;    /*用...替代溢出的部分*/
    
    margin: 0 .5rem;
    padding-left: 0;
  }
}

// 上下篇布局
.prev-next {
  display: flex;                  // 弹性布局
  justify-content: space-between; // 两端对齐
  width: 100%;
  margin-bottom: 1rem;
  
  & a {
    color: #999;
    padding: .25rem .5rem;
    text-decoration: none;
    border: 1px solid #dfe2e5;
    
    &:hover {
      color: #dfe2e5;
      background-color: #333;
    }
  }
}

.prev {
  background-color: rgba($color: #FFFFFF, $alpha: 0.8);
}

.next {
  background-color: rgba($color: #FFFFFF, $alpha: 0.8);
}

#gitalk-container {
  padding-bottom: 1rem;
}

.theme {
  text-align: center;
  font-size: .8rem;
  margin-bottom: 1rem;
}