// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {               // 网页内容的容器
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.post {                  // 文章内容的容器
  margin-bottom: 4rem;
}

.post-title {
  text-align: center;
}

.post-date {
  text-align: center;
  font-size: .75rem;
  color: #adb5bd;
}