// Layout
//
// Styles for managing the structural hierarchy of the site.

// 网站整体布局
.container {              
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  
  // 设置背景透明度, 为了放背景图
  background-color: $container-bg-color;
  border-radius: .5rem;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

// 页面布局
.page {
  margin-bottom: 3rem;
}

.page-title {
  text-align: center;
}

.archive-date {
  float: right;
}

// 文章内容布局
.post {                  
  margin-bottom: 3rem;
}

.post-title {
  text-align: center;
}

.post-date {
  text-align: center;
  font-size: .75rem;
  color: #adb5bd;
}

// 导航栏布局
.nav {
  color: #999;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #999;
}

.nav a {
  color: #999;  
  padding: .8rem;
  text-decoration: none;
  
  &:hover {
    color: #333;
  }
}

.fa-home,
.fa-edit,
.fa-download,
.fa-star {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  
  &:hover {
    color: #343434;
  }
}

// 页脚布局
.footer {
  color: #999;
  text-align: center;
  margin-bottom: 3rem;
  border-top: 1px solid #999;
}

.footer a {
  color: #999;  
  padding: .8rem;
  text-decoration: none;
  
  &:hover {
    color: #333;
  }
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  
  &:hover {
    color: #f39c12;
  }
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
    
  &:hover {
    color: #343434;
  }
}

.fa-weibo {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
    
  &:hover {
    color: #E95B39;
  }
}

.fa-zhihu {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
    
  &:hover {
    color: #1A94E6;
  }
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
    
  &:hover {
    color: #338FCC;
  }
}

// 回到顶部按钮设计
.top{
  display: none;      // 滚动时显示
  cursor: pointer;    // 选中时显示手指
  margin: 0;
  padding: .5rem;
  bottom: 1rem;       // 和底部距离
  right: 1rem;        // 和右边框距离
  position: fixed;    // 回滚键固定
  z-index: 99;        // 在所有页面上方
  
  -webkit-tap-highlight-color: rgba(0,0,0,0); // 不显示蓝色框
  
  border-radius: 1rem;
  box-shadow:  0px 0px 5px 1px inset;
  background-color: rgba(255, 255, 255, 0.8);
  
  @media (min-width: $top-width) {
    right: calc(50% - 23rem);
  }
}

.fa-arrow-up {
  padding: 5px;
  color: #333;
}

// 显示壁纸按钮

.wallpaper-button {
  display: none;
  cursor: pointer;
  margin: 0;
  padding: .5rem;
  right: 1rem;
  top: 1rem;
  position: fixed;
  z-index: 99;
  
  border-radius: 1rem;
  box-shadow:  0px 0px 5px 1px inset;
  background-color: rgba(255, 255, 255, 0.8);
  
  @media (min-width: $top-width) {
    display: block;
  }
}

.fa-image {
  padding: 5px;
  color: #333;
}


// 上下篇布局
.prev-next {
  display: flex;
  width: calc(100% + 2rem);
  margin-bottom: 1rem;
  margin-left: -1rem;
  justify-content: space-between;
}

.prev-next a {
  color: #999;
  padding: .25rem .5rem;
  text-decoration: none;
  box-shadow:  0px 0px 10px 1px;
  
  &:hover {
    color: #333;
    background-color: #C0FAD7;
  }
}

.prev {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: rgba($color: #FFFFFF, $alpha: 0.8);
}

.next {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  background-color: rgba($color: #FFFFFF, $alpha: 0.8);
}


.fa-angle-left,
.fa-angle-right {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  
  &:hover {
    color: #343434;
  }
}