// 导航栏布局
.nav { 
  display: flex;
  flex-direction: column;
  justify-content: center; // 中间
  
  margin: 0rem auto;   // 整体居中
  max-width: 38rem;    // 最大宽度
  min-height: 4rem;
  
  padding-top: 1rem;   
  padding-bottom: 1rem;
  
  @media (min-width: 38rem) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.nav-search {
  margin-bottom: 1rem;
  padding: 0 1rem;
  
  & input {
    outline: none;
    border: 1px solid var(--gray-500);
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    height: 2rem;
    border-radius: 1rem;
  }
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  
  & a {
    display: block;
    margin: 0 .5rem;
    
    color: var(--gray-600);
    padding: .25rem .5rem;
    
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-600);
    background-color: white;
    
    &:hover {
      text-decoration: none;
      color: white;
      background-color: var(--gray-600);
    }
  }
} 

#mask{ 
  background: rgba($color: #000000, $alpha: 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}