input {
  margin-top: 4rem;
  outline: none;
  padding: .5rem 1rem;
  width: 100%;
  border: 2px solid #dfe2e5;
  background-color: rgba($color: #fff, $alpha: 0.5);
}

#results-container {
  list-style: none;
  border-left: 2px solid #dfe2e5;
  border-right: 2px solid #dfe2e5;
  background-color: rgba($color: #fff, $alpha: 0.5);
  
  & li {
    padding: .25rem .5rem;
    border-bottom: 1px dashed black;
  }
  
  & a:hover {
    text-decoration: none;
    color: black;
  }
}