#search-container input {
  margin-top: 4rem;
  outline: none;
  padding: .5rem 1rem;
  width: 100%;
  border: 2px solid #dfe2e5;
  background-color: rgba($color: #fff, $alpha: 0.5);
}

#results-container { 
  list-style: none;
  border-left: 2px solid #dfe2e5;
  border-right: 2px solid #dfe2e5;
  background-color: rgba($color: #fff, $alpha: 0.5);
  
  & li {
    padding: .25rem .5rem;
    border-bottom: 1px dashed black;
  }
  
  & a {
    color: darkmagenta;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.tips {
  margin-top: 4rem;
  text-align: center;
  & a {
    margin: .5rem;
    padding: .8rem;
    color: darkmagenta;
    border-radius: var(--border-radius);
    background-color: rgba($color: #fff, $alpha: 0.5); 
    
    &:hover {
      text-decoration: none;
      color: white;
      background-color: rgba($color: #000, $alpha: 0.5); 
    }
  }
}