// 排版
//
// 标题, 段落, 列表和一些文章可能出现的元素

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-weight: $heading-weight;
  line-height: 1.25;
  margin-bottom: .5rem;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  margin-top: 1.5rem;
  font-size: $h2-font-size;
  border-bottom: 1px solid #dfe2e5;
}

h3 {
  margin-top: 1rem;
  font-size: $h3-font-size;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: .5rem;
  padding-left: 1rem;
}

hr {
  position: relative;
  margin: 3rem 3rem;
  border: 0;
  border-top: 2px solid #A2A2A2;
}

blockquote {
  margin: .8rem 0;            // 上下外边距
  padding: .5rem 1rem;        // 上下、左右内边距
  color: $blockquote-color;   // 字色
  border-left: .25rem solid $blockquote-border-left;  // 左边框色

  width: 100%;
  
  p:last-child {
    margin-bottom: 0;
  }
}

code,
pre {
  font-family: $code-font-family;   // 代码字体
  font-size: $code-font-size;       // 代码字号
  background-color: $code-bg;       // 代码背景色
}

code {
  padding: .2rem .4rem;
  color: $code-color;                  // 代码颜色
  border-radius: $code-border-radius;  // 圆角边框
}

// 代码段格式设置
pre {
  display: block;
  width: 100%;
  line-height: 1.4;         // 代码行高
  margin-top: 0;
  margin-bottom: 1rem;
  padding: .8rem;
}

pre code {   // 去除 pre 中 code 的格式
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

// 代码水平滚动
pre.highlight {
  overflow-x: auto;
}

// 数学公式水平滚动
.MJXc-display {
  overflow-x: auto;
}

// 多媒体支持
video {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  
  @media (min-width: $width) {
    margin-left: 0;
    width: 100%;
  }
}

// B 站视频嵌入, 保证 16:9 比例
iframe {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: none;      // 去除滚动框
  border: 0;           // 去除嵌入边框
  
  width: 100vw;
  height: 56.25vw;
  margin-left: -1rem;
  
  @media (min-width: $width) {
    width: 100%;
    height: 405px;
    margin-left: 0;
  }
}

// 渲染图适应
.mermaid {
  overflow-x: auto;
}