$html-font-family: Arial, "Microsoft YaHei", sans-serif;   // 正文字体
$html-font-size-small: 16px;  // 手机端字体
$html-font-size-big: 20px;    // PC 端字体
$html-line-height: 1.5;       // 行高

$body-bg: #fff;               // 背景色
$body-color: #495057;         // 字色

$container-bg-color: rgba(255, 255, 255, 0.95);  // 内容背景色和透明度

$link-color: #228be6;         // 链接色
$link-hover-color: #4dabf7;   // 被选中时链接色

$img-border-radius: 5px;      // 图标圆滑处理

$heading-color: #212529;      // 标题色
$heading-weight: 500;         // 标题粗细程度
$h1-font-size: 1.75rem;       // 一级标题字号
$h2-font-size: 1.5rem;        // 二级标题字号
$h3-font-size: 1.25rem;       // 三级标题字号

$blockquote-color: #adb5bd;         // 引用色
$blockquote-border-left: #dee2e6;   // 引用颜色

$code-font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;  // 代码字体
$code-font-size: .9rem;       // 代码字号
$code-bg: #f5f5f5;            // 代码背景
$code-border-radius: 3px;     // 代码框圆滑化
$code-color: #bf616a;         // 代码颜色

$width: 38rem;         // 移动端和 PC 端的宽度分界线

$top-width: 60rem;     // 快速返回键的最宽宽度
