:root {
  --gray-000: #f8f9fa;
  --gray-100: #f1f3f5;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  
  --red: #fa5252;
  --pink: #e64980;
  --grape: #be4bdb;
  --purple: #7950f2;
  --indigo: #4c6ef5;
  --blue: #228be6;
  --cyan: #15aabf;
  --teal: #12b886;
  --green: #40c057;
  --yellow: #fab005;
  --orange: #fd7e14;

  --blue-300: #74c0fc;
  --blue-400: #4dabf7;
  --yellow-100: #fff3bf;

  --font: Arial, "Microsoft YaHei", sans-serif;   // 正文字体
  --font-size: 16px;                              // 字体
  --line-height: 1.5;                             // 行高
  
  --body-color: var(--gray-700);
  --body-bg: var(--gray-100);
  --container-bg: #fff;
  
  --link-color: var(--blue);
  --link-hover-color: black;
  
  --border-color: var(--gray-300);
  --border-radius: .25rem;
  
  --heading-color: var(--gray-900);
  --heading-weight: 500;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  
  --code-font: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace; 
  --code-font-size: .9rem; 
  --code-bg: #f5f5f5; 
  --code-color: #bf616a;
  
  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);
}

@media (min-width: 760px) {  // The unit of min-width must be px
  :root {
    --font-size: 20px; 
  }
}
