#search-container {
  margin: 0 auto;
}

#results-container {
  list-style: none;
  padding-left: 0;
  border: 2px solid #dfe2e5;
  
  & li {
    padding: .25rem .5rem;
    border-bottom: 1px solid #dfe2e5;
  }
}