// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  min-height: calc(100vh - 9rem);  // fixed footer
  margin: 0 auto;  // Center horizontally
}

.footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 4rem; 
  
  & a {
    color: var(--gray-600);
    padding: .8rem;
    text-decoration: none;
    border-radius: 50%;
    
    &:hover {
      color: var(--gray-900);
    }
  }
}

// back top button
.top{
  display: none;
  cursor: pointer;
  padding: .5rem;
  bottom: 2rem; 
  right: 1rem; 
  position: fixed; 
  z-index: 99; 
  
  border-radius: 50%;
  background-color: var(--gray-400);
  
  @media (min-width: 60rem) {
    bottom: 1rem;
    right: calc(50vw - 23rem);
  }
}

.theme {
  text-align: center;
  font-size: .8rem;
  min-height: 4rem;
}