.posts-item {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  background-color: white;
  
  @media (min-width: 38rem) {
    border-radius: var(--border-radius);
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
  }
  
  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
  }
}

.posts-item-date {
  display: block;
  text-align: right;
  color: var(--gray-600);
  font-size: .9rem;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  
  & a {
    display: block;
    color: var(--gray-600);
    padding: .25rem .5rem;
    text-decoration: none;
    background-color: white; 
    
    &:hover {
      color: #dfe2e5;
      background-color: #333;
    }
    
    @media (min-width: 38rem) {
      border-radius: var(--border-radius);
      box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
    }
  }
  
  & .prev {
    min-width: 4rem;
  }
  
  & .tips {
    padding: .25rem .5rem;
  }
  
  & .next {
    min-width: 3rem;
  }
}