.page {
  padding: 0 1rem; 
  background-color: var(--container-bg);
  padding-bottom: 1rem;
  
  @media (min-width: 38rem) {
    border-radius: var(--border-radius);
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
  }
}

.page-title {
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
