---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
  
  {{ content }}
  
</div>

<div class="prev-next">
  <div class="prev">
  {% if page.previous %}
    <a href="{{ page.previous.url | relative_url }}">
      <i class="fa fa-angle-left" aria-hidden="true"></i>{{ page.previous.title | truncate: 10 }}</a>
  {% endif %}
  </div>
  
  <div class="next">
  {% if page.next %}
    <a href="{{ page.next.url | relative_url }}">{{ page.next.title | truncate: 10 }}
      <i class="fa fa-angle-right" aria-hidden="true"></i></a>
  {% endif %}
  </div>
</div>

{% if site.gitalk.enable %}
  {% include comment.html %}
{% endif %}